<nz-layout class="bg-white layout wh-100">
  <nz-header class="bg-white header display-flex justify-content-space-between">
    <div class="header-logo">
      <i class="header-logo-icon" nz-icon [viewType]="'img'" [url]="'/assets/portrait_mickey.jpg'" nzTheme="outline" viewIcon></i>
      <span class="header-logo-title">模板文档</span>
    </div>
    <div class="header-explanation display-flex align-items-center">
      <div class="header-explanation-tab">
        <nz-tabset [(nzSelectedIndex)]="selectedIndex" nzTabPosition="bottom">
          <nz-tab [nzTitle]="item" *ngFor="let item of navigationList; let i = index"></nz-tab>
        </nz-tabset>
      </div>
      <i class="header-explanation-github cursor-pointer" nz-icon nzType="github" nzTheme="outline" viewIcon (click)="toGitHub()"></i>
    </div>
  </nz-header>
  <nz-content class="flex-auto display-flex content">
    <nz-sider class="h-100 content-side" nzTheme="light" nzWidth="16%">

    </nz-sider>
    <nz-content></nz-content>
  </nz-content>
</nz-layout>
